
{{> header}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Ejemplo con image</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo voluptatibus excepturi earum quos eaque similique reprehenderit nisi, quibusdam natus quisquam in veritatis optio error harum illum placeat inventore. Hic adipisci, sequi consequatur eius earum distinctio assumenda ducimus incidunt accusantium maxime doloribus soluta voluptas consectetur. Natus commodi ut esse adipisci sed repellendus molestias voluptate aliquam. Non voluptate, incidunt vel modi, temporibus quia neque autem illo eos nemo asperiores odio voluptates perferendis consectetur est ratione culpa! Labore omnis veritatis tenetur obcaecati cupiditate, perferendis laudantium id magnam molestias, iure dolor. Nisi, maxime!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/cualquier-cosa.jpg" class="img-thumbnail" alt="imagen"/>
     </div>

</div>

{{> footer}}

